<h1 class="text-center text-primary">Create Task</h1>


<div class="col-sm-8 offset-sm-2">
    <form>
        <div class="form-group row">
          <label for="task" class="col-sm-2 col-form-label">Task</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="task" placeholder="Task" name="task" [(ngModel)]="task.task">
          </div>
        </div>

        
        <div class="form-group row">
          <label for="task" class="col-sm-2 col-form-label">Parent</label>
          <div class="col-sm-10">

            <!-- <input type="text" class="form-control" id="task" placeholder="Task" name="task" [(ngModel)]="task.task"> -->
            <ng-template #rt let-r="result" let-t="term">
                <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="mr-1" style="width: 16px"> -->
                <ngb-highlight [result]="r.task" [term]="t"></ngb-highlight>
              </ng-template>
              
              <label for="typeahead-template">Search for a parent:</label>
              <input id="typeahead-template" type="text" class="form-control" name="selectedParent" [(ngModel)]="selectedParent" [ngbTypeahead]="search" [resultTemplate]="rt"
                [inputFormatter]="formatter" />
              <hr>

          </div>
        </div>



        <div class="form-group row">
          <label for="priority" class="col-sm-2 col-form-label">Priority</label>
          <label class="col-sm-1" for="">0</label>
          <div class="col-sm-6">
              <input type="range" class="form-control-range" id="priority" name="priority" min="0" max="30" [(ngModel)]="task.priority">
            </div>
            <label class="col-sm-1" for="">30</label>

            <label class="col-sm-1 offset-sm-1" for="">{{task.priority || 0}}</label>
        </div>

        <div class="form-group row">
            <label for="start_date" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-10">
              <!-- <input type="text" class="form-control" id="start_date" placeholder="MM-dd-yyyy" name="task" [(ngModel)]="task.start_date"> -->
              <input type="text" class="form-control" ngbDatepicker [(ngModel)]="task.start_date" placeholder="select start date" name="startdate" id="startdate" #startdate="ngbDatepicker" (focus)="startdate.open()"/>
            </div>
          </div>
        <div class="form-group row">
            <label for="end_date" class="col-sm-2 col-form-label">End Date</label>
            <div class="col-sm-10">
              <!-- <input type="text" class="form-control" id="end_date" placeholder="MM-dd-yyyy" name="task" [(ngModel)]="task.end_date"> -->
              <input type="text" class="form-control" ngbDatepicker [(ngModel)]="task.end_date" placeholder="Select end date" name="enddate" id="enddate" #enddate="ngbDatepicker" (focus)="enddate.open()"/>
            </div>
          </div>
        <div class="form-group row">
            <label for="finished" class="col-sm-2 col-form-label">Finished</label>
            <div class="col-sm-10">
              <select class="form-control" id="finishedSelectedValue" name="finishedSelectedValue" [(ngModel)]="finishedSelectedValue">
                <option *ngFor="let val of finishedOptions">{{val}}</option>
              </select>
            </div>
          </div>


        <div class="form-group row">
          <div class="col-sm-10">
            <button type="button" (click)="create()" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
</div>