<app-header></app-header>

<!-- ng-bootstrap datepicker demo -->
<!-- <ngb-datepicker #d></ngb-datepicker> -->
<!-- 2. datepicker in the popup -->
<!-- <input type="text" ngbDatepicker #d2="ngbDatepicker" (focus)="d2.open()" [(ngModel)]="date" name="date"/>

<button (click)="getDate(d2)">GetDate</button> -->

<!-- <input type="text" placeholder="Enter your name" #myName (keyup)="$event"/>
<h3>Your name is :{{myName.value}}</h3> -->

<hr/>
<div class="container">
        <router-outlet></router-outlet>
</div>
